//Convention:
//pageElement-descriptor_modifiers(opt)

//Ex:
//.title-img { main }
//.title-img_special { images that are special }

//Sorted by page heiarchy 

$break-sm: 700px;
$break-lg: 1200px;

body {
  color: white; //default white text
}

.anim-humming_1 {
  opacity: 0.9;
  animation: humming 0.23s infinite;
}

.anim-humming_2 {
  opacity: 0.9;
  animation: humming 0.55s infinite;
}

.title-img {
  width: 40vw;
  margin-left: 30vw;
  @media (max-width: $break-sm) {
    width: 80vw;
    margin-left: 10vw;
  } 
}

@keyframes humming  {
	0% {
		opacity: 0.9;
	}
	4% {
  	opacity: 0.85;
	}
	8% {
		opacity: 0.9;
	}
	
	60% {
		opacity: 0.9;
	}
	63% {
		opacity: 0.95;
	}
	66% {
  	opacity: 0.9;
	}
}